ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

li {
    margin: 2em;
    padding: 0.5em;
    border: 1px solid blue;
}

.header {
    flex-basis: 100%;
    text-align: center;
}

.main {
    flex-basis: 100%;
    text-align: center;
}

.button {
    text-align: center;
    flex-grow: 1;
}

.break {
    flex-basis: 100%;
    height: 0;
    margin: 0;
    padding: 0;
}